{% extends 'fakebook_base.html' %} {% set active_page = 'user-notifications' %} {% block fakebook_content %}
<div class="container-fluid notif-home" ng-controller="UserNotificationsController as vm" ng-init="vm.getAllUserNotifications()">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Notifications</h4>
                    <p class="category">All notifications</p>
                </div>
                <div class="content" infinite-scroll='vm.loadNextPageNotifications()' infinite-scroll-disabled='vm.busy'>
                    <div class="typo-line" ng-repeat="notification in vm.notifications">
                        <p class="category">Quote</p>
                        <blockquote>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                                aliquam erat volutpat. Ut wisi enim ad minim veniam.
                            </p>
                            <small>
                                Steve Jobs, CEO Apple
                            </small>
                        </blockquote>
                    </div>
                    <div ng-show='vm.busy && !vm.endOfPage'>
                        <div layout="row" layout-sm="column" layout-align="space-around" style="margin-bottom:30px">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                    <div ng-show="vm.endOfPage">
                            <div class="typo-line">
                                <center>
                                    <h2>You have read all the Notifications</h2>
                                </center>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}