WTForms==2.1
Flask==0.12.2
Flask_Login==0.2.7
Flask_RESTful==0.3.6
Werkzeug==0.12.2
pymongo==3.6.1
mongoengine==0.15.0
Flask_Cors==3.0.4
Flask_WTF==0.14.2
Flask_Script==0.6.2
flask_mongoengine==0.9.3
flask_socketio==3.0.1
